*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body{
	margin: 0rem auto;;
	font-family: sans-serif;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none; 
}

.nav-container{
	width: 100%;
	background-color: darkgray;
	height: 5rem;
	margin: 0rem;
	padding: 1rem;
}

.nav-container h1{
	margin: 0rem;
}

.main-container{
	width: 75%;
	margin: 0rem auto;
}

/***
Flex definitions
***/

.flex-parent{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.flex-child{
	flex: auto;
}

/***
Tiles & Content
***/

.timer,
.tile{
	position: relative;
	overflow: hidden;
}

.timer:before,
.tile:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.timer-content,
.content {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: black;
}

.timer-content div,
.content div{
	display: table;
	width: 100%;
	height: 100%;
}

.timer-content span,
.content span{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

/***
Timer
***/

.timer{
	height: 3rem;
	margin: 0.5rem auto;
}

.timer-content{
	background-color: lightblue;
	padding: 0.5rem;
}

.timer-content span{
	font-size: 1rem;
}

/***
Score 
***/

.score-container{
	
}

.current-score{
	
}

.best-score{
	
}

/***
Numbers
***/

.numbers-container{
	min-height: 6rem;
}

.number-tile{
	background-color: lightgrey;
	height: 6rem;
	max-width: 25%;
	margin: 0.5rem;
}

.number-content span{
	font-size: 4rem;
}

/***
Operations
***/
.operations-container{
	margin: 0.5rem auto;
	height: 5rem;
}

.operation-tile{
	background-color: lightgrey;
	height: 4rem;
	max-width: 25%;
	margin: 0.25rem;
}

.operation-content span{
	font-size: 2.5rem;
}

/***
Utilities
***/
.utilities-container{
	
}

.undo-container,
.skip-container{
	width: 50%;
}

.undo,
.skip{
	font-size: 5rem;
}

.undo{
	float: left;
	margin-left: 2rem;
}

.skip{
	float: right;
	margin-right: 2rem;
}

/***
History
***/
.history-container{
	width:95%;
}

.history-item{
	width: 100%;
	text-align: center;
	font-size: 1rem;
}

.current-puzzle-history-container{
	width: 50%;
}

.round-solves-container{
	width: 50%;
}

/***
Visual
***/
.selected{
	border: 2px black solid;
}

.correct {
	border: 6px green solid;
}

.incorrect{
	border: 6px red solid;
}

/***
Visual
***/

@media (max-width:40em){
	.number-tile,
	.operation-tile{
		min-width: 15%;
		margin: 0.25rem;
	}
	
	.numbers-container,
	.operations-container{
		min-height: 0rem;
	}
	
	.number-content span,
	.operation-content span{
		font-size: 2rem;
	}
	
	.main-container{
		width: 95%;
	}
}

@media (max-width:64em){
	body{
		font-size: 110%;
	}
}